article.business_details {
  font-size: .9em;
  font-style: italic;
  color: gray;
  text-align: right;
  padding: 0 10px;
}

article.business_details span {
  font-weight: bolder;
  color: rgb(100, 150, 240);
}

.reviews ul {
  list-style-type: none;
}

.review {
  display: flex;
  flex-flow: column;
  margin-bottom: 10px;
}

.review .review_head {
  display: flex;
  flex-flow: row;
  flex-basis: 35%;
  align-items: center;
  font-size: .9em;
  background-color: rgba(100,150,240,.3);
  height: 45px;
}

.review_head div {
  padding: 5px;
}

.review_head .user_name {
  flex-grow: 2;
}

.review_head .rating {
  flex-grow: 1;
}

.review .review_body {
  background-color: #fbfbfb;
  flex-grow: 1;
}

.review_body q {
  color: #7b7b7b;
  font-size: .8em;
}

@media (min-width: 600px) {
  .review {
    flex-flow: row;
  }

 .review .review_head {
    flex-flow: column;
    align-items: flex-start;
    height: auto;
  }
}

@media (min-width: 800px) {
  .review .review_head {
     width: 200px;
   }
}
