.form_container {
  width: 50%;
  margin: auto;
}

.form_container fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form_container input, form label {
  margin: 5px 0 0 0;
}

header > h1, footer {
  text-align: center;
}

.form_container .gender_area {
  margin: 5px 0 0 0;
}

.form_container label {
  font-size: .9em;
}
.form_container p {
  font-size: .8em;
}

.form_container legend {
  font-style: italic;
  font-weight: bolder;
}

.radio_options div {
  display: flex;
  flex-direction: row;
  width: 75px;
}

.form_container .gender_area .radio_options{
  display: flex;
  flex-direction: row;

}

.gender_area div {
  flex-grow: 1;
}

.gender_area input {
  margin-left: 7px;
}

input[name=submit] {
  background-color: green;
  border: none;
  padding: 5px;
  color: white;
}

input[type=radio] {
  width: 5px;
}
