.form_container {
  width: 50%;
  margin: auto;
}

.form_container fieldset {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form_container input, form label {
  margin: 5px 0 0 0;
}

.form_container > h1 {
  text-align: center;
}
