/* dusty: #96858F
lavender: #6D7993
overcast: #9099A2
paper: #D5D5D5 */



@import "form.css";
@import "business_profile.css";
@import "navigation.css";

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: #f9f9f9;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6D7993;
  width: 100%;
  /* height: 50px; */
  padding: 0 10px;
  position: fixed;
  z-index: 99;
  box-shadow: 0px 1px 2px #9099A2;
}



article:not([class='form_container']), article#info_wrapper, article.map {
  box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 5px;
}


article:not(:first-of-type), article#info_wrapper, article.map {
  margin-bottom: 30px;
  padding: 25px;
  background: white;
}

article:first-of-type {
  box-shadow: none;
}

article.map {
  box-shadow: 0px 0px 1px 0px #96858F;
  border-radius: 5px;
}

article[class='form_container'] {
  padding: 0;
}


hr {
  color: #fbfbfb;
}

.wrapper {
  width: 95%;
  padding: 0;
  position: relative;
  top: 50px;
  margin: 0 auto;
}

h2::before {
  content: '';
  display: inline-block;
  position: relative;
  top: 55px;
  transform: translateY(-25px);
  height: 50px;
  width: 3px;
  background-color: #6D7993;
  margin-right: 5px;
}

h1, h2, h3, h4 {
  color: #606060;
  font-size: 1.0em;
}


h2 {
  font-weight: 100;
  margin-bottom: 50px;
}

h3 {
  font-style: normal;
  color: #404040;
  font-weight: bolder;
}

h4, h2 {
  margin-top: 0;
}

body hr {
  height: 0px;
  border: .5px solid #D5D5D5;
}

footer {
  position: relative;
  top: 50px;
  height: 150px;
  width: 100%;
  background: white;
}
